
/* For the entire page */
html {
  background-color: #778899;
}

/* Main body portion (all the yields) */
main {

}

/* Header portion */
header {
  background-color: #6284a3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 160px;
  box-shadow: 0 0 20px 0 black;
}

/* Make our nav links  */
header li {
  /* display: inline; */
  margin-left: 15px;
  margin-right: 5px;
  display: inline-block;
  background: #b5b9bd;
  border-radius: 4px;
  font-size: 14px;
  color: rgb(95, 0, 0);
  padding: 5px 10px; 
}

header li a {
  color: black;
  text-decoration: none;
}

.title {
  margin-left: 35px
}

/* For the Nav bar selections */
.logout_button {
  /* display: inline-block; */

}

/* Body of the page */
body {
  margin-top: 150px;
  padding: 50px;
}

/* For error text */
.errors {
  color: red; 
}

/* for the meals page */
.meals {
  /* margin: 5px;
  padding: 10px; */
  border: 1px solid #000;
}

/* For each individual meal */
/* .meal_content{
  margin: 10px;
  padding: 10px;
} */


/* For the forms with inputs */
/* .forms {
  margin: 5px;
  padding: 10px; 
} */

