html {
  background-color: #778899;
}

.messedup {
  color: red; 
}

.meals {
  margin: 5px;
  padding: 10px;
  border: 1px solid #000;
}

.nav {
  padding: 10px;
  margin: 5px;
  background-color: #657485;
  border: 2px solid black;
}

.forms {
  margin: 5px;
  padding: 10px; 
}