
<p>Edit User Info Here</p>

<form action="/users/<%= @current_user.id %>" method="post">

<input id="hidden" type="hidden" name="_method" value="patch">


<input type="text" name="user[age]" id="age" value="<%= @current_user.age %>" placeholder="Age" required><br><br>
<input type="text" name="user[height]" id="height" value="<%= @current_user.height %>" placeholder="Height in inches" required><br><br>
<input type="text" name="user[weight]" id="weight" value="<%= @current_user.weight %>" placeholder="Weight in pounds" required><br><br>


<label for="gender">Gender:</label><br>
<input type="radio" name="user[gender]" id="gender" value="male" required>
<label for="gender">Male</label><br>
<input type="radio" name="user[gender]" id="gender" value="female">
<label for="gender">Female</label><br><br>

<label for="activity_level">Activity level:</label><br>
<input type="radio" name="user[activity_level]" id="activity_level_1" value="1" required>
<label for="activity_level_1">Sedentary</label><br>
<input type="radio" name="user[activity_level]" id="activity_level_2" value="2">
<label for="activity_level_2">Low-Active</label><br>
<input type="radio" name="user[activity_level]" id="activity_level_3" value="3">
<label for="activity_level_3">Active</label><br>
<input type="radio" name="user[activity_level]" id="activity_level_4" value="4">
<label for="activity_level_4">Very Active</label><br><br>
<input type="submit" value="Edit User">

</form><br>

Every chance I get, I water the plants, Lion! Let’s see what Chef Dee got that they don’t want us to eat. Fan luv. We the best. The key to more success is to have a lot of pillows. Special cloth alert. Learning is cool, but knowing is better, and I know the key to success. Stay focused. Surround yourself with angels. Lion! Every chance I get, I water the plants, Lion! Find peace, life is like a water fall, you’ve gotta flow. Watch your back, but more importantly when you get out the shower, dry your back, it’s a cold world out there.