 <p center><a href="/home">Home</a> | <a href="/users/<%= @current_user.id %>/edit">Edit User</a> | placeholder | placeholder | placeholder | placeholder</p>

This is the home page for user once they've logged in. This should display user's stats and stuff. Their daily caloric intake, current progress, and all the good good.