
<h3>Register Here</h3>

<form action="/register" method="post">

<input type="text" name="user[name]" placeholder="Name" required><br>

<input type="text" name="user[username]" placeholder="Username" required><br>

<input type="password" name="user[password]" placeholder="Password(6-20)"><br>

<input type="submit" value="Create Account">

</form>
