


<form action="/register" method="post" class="forms">

<h3>Register Here</h3>

<label for="name">Name:</label><br>
<input class="submissionfield" type="text" name="user[name]" id="name" placeholder="Name" required><br>

<label for="username">Username:</label><br>
<input class="submissionfield" type="text" name="user[username]" id="username" placeholder="Username" required><br>

<label for="password">Password:</label><br>
<input class="submissionfield" type="password" name="user[password]" id="password" placeholder="Password(6-20)" required><br>

<label for="confirm_password">Password(To Confirm)</label><br>
<input class="submissionfield" type="password" name="user[password_confirmation]" id="confirm_password" placeholder="Confirm your password" required><br>

<% if @user && @user.errors.any? %>
  <% @user.errors.full_messages.each do |error| %>

    <p class="errors"><%= error %></p>
    
  <% end %>
<% end %>

<input class="submissionbutton" type="submit" value="Create Account">

</form>
