


<form action="/register" method="post" class="forms">

<h3>Register Here</h3>

<input type="text" name="user[name]" placeholder="Name" required><br>

<input type="text" name="user[username]" placeholder="Username" required><br>

<input type="password" name="user[password]" placeholder="Password(6-20)" required><br>

<% if @failed %>
  <p class="messedup">Password must be between 6-20 letters long</p>
<% end %>

<input type="submit" value="Create Account">

</form>
