
<% if @meals.empty? %>

  <h3>You need to add a meal, hungry child.</h3>

<% else %>

  <h3>Logged Meals</h3>

  
    <% @meals.each do |meal| %>
      <div class="meals">
        <p class="meal_content">Name: <%= meal.name %></p>
        <p class="meal_content">Calories: <%= meal.calories %> Calories.</p>
        <p class="meal_content">Time Added: <%= meal.created_at %></p> 
        <a  class="meal_content" href="/meals/<%= meal.id %>/edit">Edit</a>
        <br><br>
      </div>
    <% end %>
  
<% end %>
