
<% if @meals.empty? %>

  <h3>You need to add a meal, hungry child.</h3>

<% else %>

  <h3>Logged Meals</h3>

  
    <% @meals.each do |meal| %>
      <div class="meals">
        <p>Name: <%= meal.name %></p>
        <p>Calories: <%= meal.calories %> Calories.</p>
        <p>Time Added: <%= meal.created_at %></p> <br><br>
      </div>
    <% end %>
  
<% end %>
