<form action="/meals" method="post" class="forms">

<h3>Hello <%= @current_user.username.capitalize %>, add a new meal</h3>
  
  <label for="name">Name:</label><br>
  <input class="submissionfield" type="text" name="meal[name]" id="name" placeholder="Example: Chicken With Rice" required><br>
  
  <label for="calories">Calories:</label><br>
  <input class="submissionfield" type="text" name="meal[calories]" id="calories" placeholder="Example: 700" required><br>

  <label for="notes">Notes:</label><br>
  <input class="submissionfield" type="text" name="meal[notes]" id="notes" placeholder="Write your notes here"><br>

<% if @failed %>
  <% @meal.errors.full_messages.each do |error| %>
    <p class="errors"><%= error %></p>
    <% end %>
<% end %>

  <br>
  <input class="submissionbutton" type="submit" value="Submit Meal">

</form>