


<form action="/meals" method="post" class="forms">

<h3>Hello <%= @current_user.name %>, add a new meal</h3>
  
  <input class="submissionfield" type="text" name="meal[name]" id="name" placeholder="Name of Meal" required><br>
  
  <input class="submissionfield" type="text" name="meal[calories]" id="calories" placeholder="Amount of Calories"><br>

<% if @failed %>

  <% @meal.errors.full_messages.each do |error| %>
    <p class="errors"><%= error %></p>
    <% end %>

<% end %>

  <input type="submit" value="Submit Meal">

</form>