<h2 class="errors">Error 404</h2>
<p class="errors">Sorry, but the page that you requested doesn't exist.</p>
<br>
<h4 class="errors">It looks like you might be lost...</h4>
<p class="errors">You're welcome to stay here and admire my amazing css skills.</p>