<h1>Welcome to The Fat Shredder 3000</h1>
<h2>Take control of your health and meal habits!</h2>

<p>
I was inspired to build to app because my body have been fluctuating in weight a lot for the past year. My goal is to a comfortable weight and maintain it. New features will be added... soon.</p>

<p>Register or log in to get started.</p>



