<h1>chugachugachugachoochooooo</h1>
<h2>water buffalo</h2>
placeholder picture here for main menuuuuuuuuwwwuuuuuuoooowuuuwuwu <br>

<a href="/login">Log in</a> or <a href="/users/new">Sign Up</a>  



