<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <h1>HUBBADUBBA</h1>
  
  <%= yield %>

  <br><br><br><br><br>
  <p>Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail. We don’t see them, we will never see them. Let’s see what Chef Dee got that they don’t want us to eat. The other day the grass was brown, now it’s green because I ain’t give up. Never surrender. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. Special cloth alert.</p><br>
  
</body>
</html>