<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <header>
    <h1 class="title">The De-Fat-O-Bot 3000</h1>
    <nav>
      <ul>
        <% if logged_in? %>
          <li><a class="headerbuttons" href="/home">Home</a></li>
          <li><a class="headerbuttons" href="/user/<%= current_user.id %>/edit">Edit User</a></li>
          <li><a class="headerbuttons" href="/meals/new">Add a Meal</a></li>          
          <li><a class="headerbuttons" href="/meals/today">Meals From Today</a></li>
          <li><a class="headerbuttons" href="/meals">All Logged Meals</a></li>
          <li><a class="headerbuttons" href="/meals/all_users">Meals From All Users</a></li>
          <li><form class="logout_button" action="/logout" method="post">
          <input id="hidden" type="hidden" name="_method" value="delete">
          <input class="headerbuttons" type="submit" value="Log Out">
          </form></li>
          <!-- Greet by username -->
          <h3>Welcome! <%= @current_user.username.capitalize %></h3>
        <% else %>
          <li><a class="headerbuttons" href="/">Welcome</a></li>
          <li><a class="headerbuttons" href="/login">Log in</a></li> 
          <li><a class="headerbuttons" href="/register">Register</a></li>
          <h4>Welcome!</h4>        
        <% end %>
      </ul>
    </nav>
  </header>
  <br>
  <main>
    <div class="center-container">
      <!-- Every page in the app follows this layout -->
      <%= yield %>
    </div>
  </main>
  <br>
</body>
</html>